<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1>
    Módulo de Administración de Usuarios
  </h1>
  <div class="dropdown">
    <button class="btn dropdown-toggle sr-only-focusable" type="button" id="dropdownMenu1" data-toggle="dropdown">
        Menú
        <span class="caret"></span>
      </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a routerLink="/app-login">Login</a></li>
      <li><a routerLink="/app-inicio">Inicio</a></li>
    </ul>
  </div>
  <br/>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>